@media (max-width : 767px) {

    .ProjectList header {
        flex-direction: column;
        gap: 2rem;
    }
}
.ProjectList{
    background-color: #f5f6f6;
}
.ProjectList .search {
    box-shadow: 0px 2px 4px 0px #00000026;
}

.ProjectList .search .input_search {
    border: 2px solid #26385A40;
    border-radius: 24px;
    width: fit-content;
    padding: .5rem;
    color: #4F4F4F;
    display: flex;
    gap: .5rem;
    align-items: center;


}

.ProjectList .search .input_search input {
    outline: none;
    border: none;
}
.ProjectList .table-data{
    padding-bottom: 7rem;
    overflow-x: auto;
}
.ProjectList table {
    font-family: Montserrat;
    font-weight: 400;
    width: 100%;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    border-spacing: 0 5px;
    border-collapse: separate;
}
@media (max-width : 767px) {
    .ProjectList table{
        display: none;
    }
}
.ProjectList table tr {
    margin-top: 10px;

}

.ProjectList table thead th,
.ProjectList table tbody td {
    padding: 19px;
    text-transform: capitalize;
    text-align: center;

}

.ProjectList table thead {
    background-color: #315951E5;
    background-color: #315951E5;
    color: white;
}
.ProjectList table  th{
    background-color: #315951E5;

}
.ProjectList table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.ProjectList table .Public {
    background-color: #315951E5;
    color: white;
    border-radius: 1rem;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
}

.ProjectList table .action {
    cursor: pointer;

}

.ProjectList table .action>span {
    height: .5rem;
    width: .5rem;
    background-color: #0E382F;

}

.ProjectList table .action .actions {
    box-shadow: 0px 0px 16px 0px #0000001A;
    display: none !important;
}

.ProjectList table .action:hover .actions {
    display: flex !important;
    top: 95%;
    z-index: 2;
}

.ProjectList table .action .actions>div {
    display: flex;
    padding: .5rem 3rem .5rem .5rem;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.ProjectList table .action .actions>div:hover {
    background-color: #f5f6f6;
}

.ProjectList table .action .actions>div .actions_icons {
    color: #0E382F;
}

.ProjectList table .action .actions:after {
    content: "";
    width: 0;
    position: absolute;
    top: -24px;
    right: 12px;
    height: 0;
    border: 12px solid;
    border-color: transparent transparent #fff;


}

.ProjectList header {
    margin-bottom: 24px;
    box-shadow: 0px 2px 4px 0px #00000026;
}

.ProjectList header span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
}

.ProjectList header button {

    border-radius: 32px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 16px;
    background: #EF9B28;
    border: 0;
    color: white;
}

.view {
    background-color: #00000033;
}
.actions button{
    cursor: pointer;
        background: transparent;
        color: black;
        border: 0;
        justify-content: flex-start;
        display: flex;
        padding: .5rem 3rem .5rem .5rem;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
}

.view div svg {
    width: 1rem;
    cursor: pointer;
    height: 1rem;
}

.ProjectList .page-link {
    color: #0E382F;
}

.ProjectList .active>.page-link,
.ProjectList .page-link.active {
    background-color: #0E382F;
    color: #fff;
}

@media (max-width : 767px) {
    .ProjectList {
        margin: .25rem !important;
    }

    .ProjectList ._content_j2ocx_55 {
        padding: 0.5rem;
    }

    .ProjectList header {
        padding: .5rem;
    }

    .ProjectList .search {
        padding: .5rem !important;
    }

    .ProjectList .search input {
        font-size: 14px;
    }

}

@media (max-width : 455px) {
    .ProjectList .search input {
        width: 100%;
    }

}
@media (min-width:768px) {
    
    .data_small_screen{
        display: none !important;
    }
}
.DataInMobile{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    border-radius: 12px;
}
.DataInMobile .icon{
    background-color: #0E382F;
    color: white;
    border-radius: 50%;
    padding: 1rem;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    /* color: #EF9B28; */
}
.DataInMobile h1{
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.275rem + .3vw);
}
.DataInMobile p{
    font-size: 12px;
    margin-bottom: .3rem;
}
.DataInMobile .action{
    margin-left: auto;
    align-self: stretch;
    cursor: pointer;
    width: 1rem;
}
.DataInMobile .rounded-circle{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #0E382F;
    display: flex;
    align-self: flex-start;
}
.DataInMobile .status span{
    background-color: #0E382F;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: .2rem .2rem;
    border-radius: .3rem;
}
.DataInMobile .actions{

    display: none !important;
    box-shadow: #aaa 0px -1px 11px 0px;
    background: white !important;
    padding-bottom: .5rem;
}
.DataInMobile .actions div{
    display: flex;
    
    padding: .3rem 3rem .3rem .5rem;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}
.DataInMobile .actions div:hover{
    background-color: #f5f6f6;
}
.DataInMobile .actions button{
    padding: .3rem 3rem .3rem .5rem;

}
.DataInMobile .action:hover .actions{
    display: flex !important;

}
.DataInMobile .data_sup {
    flex: 1;
}
@media (max-width : 480px) {
    .DataInMobile .icons_user{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .DataInMobile .data_sup{
        width: 100%;
    }

}