
.layout {
  display: flex;
  height: 100vh;       
  overflow: hidden;
}


.sidebar {
  
  background-color: rgba(14, 56, 47, 1); 
}

.main {
  flex: 1;             
  display: flex;
  flex-direction: column; 
 
}

.topnavbar {
  flex: 0 0 64px;     
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  z-index: 1;          
}

.content {
  flex: 1;             
  overflow-y: auto;
  padding: 1rem;
  background-color: #f8f9fb;
}

@media (max-width: 992px) {
  .sidebar {
  
  }

}

@media (max-width: 768px) {

}