.TasksBoard p{
    background-color: #EF9B28;
    cursor: grab;
}

.TasksBoard .status div{
    width: calc(calc(100% - 1.6rem) / 3);
    display: flex;
    flex-direction: column;
}
.TasksBoard .status div div{
    background-color: #315951E5;
    width: 100%;
    min-height: 100px;
    flex: 1;
}
@media (max-width: 991px) {
    .TasksBoard .status{
        justify-content: center !important;

    }
    .TasksBoard .status div{
        width: 250px;
    }
}

