.Regestor .div_avtar img{
    width: 95px;
}
.Regestor .div_avtar .input{
    width: 60px;
    height: 60px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.Regestor .div_avtar .input input{
    cursor: pointer;

}
@media (min-width : 575px) {
    .Regestor .sup_input>div {
        width: 48%;   
        
    } 
}