*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-table thead tr th {
  background-color: #325C50 !important;
  color: white !important;
  font-weight: 500;
  text-align: center;
}


.ant-avatar.ant-avatar-circle.ant-avatar-icon.css-dev-only-do-not-override-os2fvf{
  background-color: #325C50 !important;
}
/* Test */
/* Test */
._layout_j2ocx_3 {
  overflow: auto !important;
  height: auto !important;
}

aside._sidebar_j2ocx_17 {
  width: 80px !important;
}

._main_j2ocx_27 {
  width: calc(100% - 80px);
}

._content_j2ocx_55 {
  padding: .5rem !important;
}
.loader{
  height: 50vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow:0;
}

@media (max-width : 455px) {
  ._content_j2ocx_55 {
    padding: 0rem !important;
  }

  .Logo_Ya_Ged3an span {
    display: none !important;
  }
}
.ps-menu-root ul li{

  display: flex !important;
  justify-content: flex-start !important;
}
.ps-sidebar-root{
  z-index: 5;
}
.fixed{
  /* position: fixed !important; */
  z-index: 5;
  top: 0;
  overflow: hidden;
  left: 0;
  height: 100vh;
  transition: width, left, right, 300ms;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #efefef;
}
.w_Fixed_80{
  width: 80px;
}
.w_Fixed_250{
  width: 250px;
}
@media (max-width : 540px) {
  .ps-sidebar-root.sidebar-root.css-1wvake5{
    width: 80px !important;
  }
}
._content_10uc4_55{
  padding: .2rem !important;
}
.ProjectList{
  margin: .2rem !important;
}